<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./index.css" rel="stylesheet"></link>
    <title>아이아이(AI-EYE)</title>
</head>
<body>
    <div class="container">
        <h3>Welcome!</h3>
        <div><img class="icon_bluetooth" alt="bluetooth" src="./icons/bluetooth.png"></img></div>
        <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=8ef43a24af3861281db02aa82968bc96&redirect_uri=http://localhost:5000/main&scope=talk_message" className={style.kakao}><button>카카오 로그인</button></a>
    </div>
</body>
</html>