<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./main.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>아이아이(AI-EYE)</title>
</head>
<body>
    <header class="profile">
        <div class="profile_wrapper">
            <img class="icon_user" alt="user profile" src="./icons/user.png"></img>
            <div class="profile_detail">
                <h2>김이응</h2>
                <p>4살</p>
            </div>
            <img class="icon_setting" alt="setting icon" src="./icons/setting.png"></img>
        </div>
    </header>
    <div class="content">
        <div class="alarmHistory">
            <a class="btn historyBtn" href="/history">알림 히스토리</a>
        </div>
        <div class="setting">
            <div class="setting_wrapper">
                <h2>웹캠 설정</h2>
                <div class="whiteBox">
                    <img class="icon_eye" alt="eye icon" src="./icons/eye.png"></img>
                    <div>
                        <p>웹캠 위험행동 감지중</p>
                        <span>~2:00pm까지 예약됨</span>
                    </div>
                    <a href="/setting"><button class="btn">예약변경/해제</button></a>
                </div>
            </div>
        </div>
        <div class="notice">
            <div class="notice_wrapper">
                <h2>공지사항</h2>
                <p>AI-EYE 앱과 웹캠 간단한 연동방법 알아보기!</p>
                <div class="whiteBox">
                    <p>글 또는 영상</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>